.form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;
}

.form__input {
    border: 1px solid hsl(0, 0%, 95%);
    padding: 10px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__addButton {
    color: white;
    background-color: teal;
    border: none;
    padding: 10px;
    transition: 1s;
}

.form__addButton:hover {
    background-color: hsl(180, 95%, 15%);
    transform: scale(1.1);
}

.form__addButton:active {
    background-color: hsl(180, 96%, 9%);
}