.tasks {
    margin: 0px;
    padding: 10px;
}

.tasks__item {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    align-items: center;
    grid-gap: 10px;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    height: 30px;
    width: 30px;
    color: white;
    border: none;
    padding: 0;
    transition: 1s;
}

.tasks__item--hidden {
    display: none;
}

.tasks__button--done {
    background-color: hsl(103, 80%, 40%);
}

.tasks__button--done:hover {
    background-color: hsl(103, 80%, 45%);
}

.tasks__button--done:active  {
    background-color: hsl(103, 80%, 50%);
}

.tasks__button--remove {
    background-color: hsl(0, 80%, 33%);
}

.tasks__button--remove:hover {
    background-color: hsl(0, 80%, 38%);
}

.tasks__button--remove:active {
    background-color: hsl(0, 80%, 43%);
}