.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background-color: hsl(0, 0%, 100%);
    color: teal;
    border: none;
    transition: color 0.5s;
    margin: 0 0 0 20;
}

@media(max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: hsl(0, 1%, 59%);
}